#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# LadyLuck General
########################################
#
#    LadyLuck.Enable
#        Description: Enables the LadyLuck module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

LadyLuck.Enable = 0

#
#    LadyLuck.UnlockItem
#        Description: The item used to open the lottery boxes.
#        Default:     5518 (Tiny Iron Key)
#

LadyLuck.UnlockItem = 5518

#
#    LadyLuck.UnlockItemCount
#        Description: The amount of item used to open the lottery boxes.
#        Default:     1
#

LadyLuck.UnlockItemCount = 1

########################################
# Lottery Location
########################################
#
#    LadyLuck.Map
#        Description: The MapID for the lottery room.
#        Default:     449
#

LadyLuck.TeleMap = 449

#
#    LadyLuck.X
#        Description: The X coordinate of the lottery room.
#        Default:     0.072697
#

LadyLuck.TeleX = 0.072697

#
#    LadyLuck.Y
#        Description: The Y coordinate of the lottery room.
#        Default:     9.618815
#

LadyLuck.TeleY = 9.618815

#
#    LadyLuck.Z
#        Description: The Z coordinate of the lottery room.
#        Default:     -0.227239
#

LadyLuck.TeleZ = -0.227239

#
#    LadyLuck.O
#        Description: The orientation of the player after teleporting.
#        Default:     1.584149
#

LadyLuck.TeleO = 1.584149

########################################