#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# LadyLuck General
########################################
#
#    LadyLuck.Enable
#        Description: Enables the LadyLuck module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

LadyLuck.Enable = 0

#
#    LadyLuck.Currency
#        Description: The currency used to enter the lottery room.
#        Default:     37711
#

LadyLuck.Currency = 37711

#
#    LadyLuck.CurrencyCount
#        Description: The amount of currency used to enter the lottery room.
#        Default:     3
#

LadyLuck.CurrencyCount = 3

#
#    LadyLuck.Money
#        Description: The amount of money used to enter the lottery room in copper.
#        Default:     1000000
#

LadyLuck.Money = 1000000

########################################
# Lottery Location
########################################
#
#    LadyLuck.Map
#        Description: The MapID for the lottery room.
#        Default:     449
#

LadyLuck.Map = 449

#
#    LadyLuck.X
#        Description: The X coordinate of the lottery room.
#        Default:     0.072697
#

LadyLuck.X = 0.072697

#
#    LadyLuck.Y
#        Description: The Y coordinate of the lottery room.
#        Default:     9.618815
#

LadyLuck.Y = 9.618815

#
#    LadyLuck.Z
#        Description: The Z coordinate of the lottery room.
#        Default:     -0.227239
#

LadyLuck.Z = -0.227239

#
#    LadyLuck.O
#        Description: The orientation of the player after teleporting.
#        Default:     1.584149
#

LadyLuck.O = 1.584149

########################################